table {
  text-align: center;
  font-size: 15px;
  border: 1px black solid;
  width: 80%;
  margin: auto;
  height: 85vh;
}
td {
  border: 1px black solid;
  text-align: center;
  font-size: medium;
  font-size: 20px;
  font-family: fantasy;
  border-radius: 10%;
  background-color: grey;
}
th {
  border: 1px black solid;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: rgb(51, 48, 48);
  font-family: fantasy;
  font-weight: 50;
}
.good {
  background-color: rgb(65, 90, 143);
}
.fast {
  background-color: green;
}
.med {
  background-color: greenyellow;
}
.slow {
  background-color: rgb(64, 255, 47);
}
.bad {
  background-color: rgb(2, 32, 95);
}
.avg {
  background-color: rgb(18, 169, 196);
}
.topic {
  background-color: gray;
}
